---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      If you'd like to get in contact with me, feel free to <a
        href="mailto:narenprax@gmail.com"
        target="_blank"
        class="link link-hover text-primary"
        >email me</a
      > at the attached link (it can be about whatever).
    </p>
    <p class="text-base-content/60">
      Copyright © Naren Prakash {new Date().getFullYear()} <a
        class="link"
        href="https://lauroguedes.dev"
        target="_blank"
      >
    </p>
  </aside>
</footer>
